
/*banner*/

.banner h1{
    width: fit-content;
    margin: 2% auto;
}


/* album list */

.album-container {
    width: 40%;
    height: 400px;
    margin: 5% auto;
    margin-top: 5%;
    overflow: scroll;
    overflow-x: hidden;
}


.album-list {
    list-style-type: decimal; 
}


.album-list li {
    width: fit-content;
    margin: 1% 8%;
}




/* footer */
footer {
    width: 100%;
    margin: 2% 0;
    text-align: right;
}

footer a{
    margin-right: 5%;
}