<!DOCTYPE html>
<html lang="en">
	<head>
		<!--keywords, compatibility and viewport settings-->
    	<meta charset="utf-8">
    	<meta name="description" content="Top 100 Album Tracker">
    	<meta name="keywords" content="music, album, itunes, top, 100, one hundred">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>ChartWatch Novice</title>

		<!-- external CSS link -->
        <link rel="stylesheet" href="css/reset.css">
		<link rel="stylesheet" href="css/normalize.css">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
		<link rel="stylesheet" href="css/novice.css">

		<!--Fonts-->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap" rel="stylesheet">
		
	</head>
	<body class="container-fluid">

		<!--Header & Container-->
		<div class="row">
			<section class="container-fluid text-center text-bg-dark p-3">
					<h1>Recent Top 100 Albums</h1>
			</section>
		</div>

		<!--Spacer-->
		<div class="row spacer">
		</div>
	
        
		<!--List of Albums & Container-->
		<div class="row">
			<div class="col">
			</div>
			<div class="col">
        		<section class="container-lg overflow-auto albums-container">
        	    	<ol class="list-group list-group-numbered">
        	    	</ol>
        		</section>
			</div>
			<div class="col">
			</div>
		</div>

		<!--Spacer-->
		<div class="row spacer">
		</div>

		<!--footer-->
		<footer class="container-fluid">
			<div class="row">
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
				</div>
				<div class="col">
        	    	<a class="btn btn-info" href="https://github.com/bumpylumps/top-100-thinkMD/tree/main/novice" target="_blank">Find me on Github</a>
				</div>
			</div>
		</footer>
		


		<script type="text/javascript" src="js/novice.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
	</body>
</html>