.album-list-container
    background-color: #F9E6B2
    width: 50%
    height: 330px
    margin: 5% auto
    padding: 5%
    margin-bottom: 3%

    ol
        display: flex
        flex-direction: row
        justify-content: space-between
        overflow: auto
        min-height: 330px

.album-item
    margin: 2%
    max-height: 283px
    background-color: antiquewhite